In [1]:
from faker import Faker
import numpy as np
import pandas as pd
from random import choice, sample
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df1 = Faker()

In [5]:
def create_names(n):
   name = []
   for _ in range(0, n):
        name.append(df1.name())
   return name

In [6]:
name = create_names(400000)

In [7]:
patient_id = np.random.randint(1, 400000, size = 400000, dtype = 'int')

In [8]:
df2 = pd.DataFrame(list(zip(patient_id,name,)),
                   columns = [ 'patient_id','name'])

In [9]:
df2.head()

   patient_id               name
0       48683     Justin Hopkins
1      101343     Heather Murphy
2       66360      Michael Burns
3      244456        Amy Elliott
4        7720  Alexander Johnson

In [10]:
import numpy as np

def weighted_cartesian_choice(*iterables):
    
   # An arbitrary number of tuple or lists,each consisting of population and weights.weighted_cartesian_choice returns a list 
    #with a chocie from each population
    
    res = []
    for population, weights in iterables:
     #normalize weight:
        weights = np.array(weights) / sum(weights)
        lst = np.random.choice(population, p=weights)
        res.append(lst)
    return res

gender = (['male','female'], 
          [0.3, 0.7])

age = (['0-10','10-20','20-30','30-40','40-50','50-60','60-70','70-80','80-90','90-100'], 
       [.08,.05,.07,.18,.05,.16,.06,.19,.07,.09])
race = (['White','Hispanic', 'Black','Asian'], 
        [.32,.28,.22,.18])
side_effects = (['No Side Effects', 'Mild Side Effects', 'Moderate Side Effects', 'Severe Side Effects', 'Extremely Severe Side Effects'], 
               [.12,.20,.28,.22,.18])

list=[]
for i in range(400000):
    res = weighted_cartesian_choice(gender,
                                    age,
                                    race,
                                    side_effects)
    list.append(res)

In [11]:
newdata=pd.DataFrame(list, columns = ['gender','age','race','side_effects'])

In [16]:
newdata.head()

   gender    age      race                   side_effects
0  female  10-20  Hispanic                No Side Effects
1    male  40-50     Asian              Mild Side Effects
2  female  50-60     White  Extremely Severe Side Effects
3  female  50-60     White          Moderate Side Effects
4    male  20-30     Black          Moderate Side Effects

In [13]:
 data = pd.concat([df2, newdata], axis=1).reindex(newdata.index)

In [14]:
data.head()

,patient_id,name,gender,age,race,side_effects
0,48683,Justin Hopkins,female,10-20,Hispanic,No Side Effects
1,101343,Heather Murphy,male,40-50,Asian,Mild Side Effects
2,66360,Michael Burns,female,50-60,White,Extremely Severe Side Effects
3,244456,Amy Elliott,female,50-60,White,Moderate Side Effects
4,7720,Alexander Johnson,male,20-30,Black,Moderate Side Effects

In [15]:
new_dataset = data.to_csv("patientprofile.csv",index=False)